<% content_for :head do %>
  <%= javascript_include_tag 'patrons.geolocation' %>  
<% end %>

<div id ="container">

<div id="content">
  <h3>Loading your location... <%= image_tag "spinner.gif", :id => "spinner", :alt => "Spinner"%> </h3>
</div>

<div id="geo-form" style="display:none;">

<p>Enter your current latitude and longitude</p>

<%= form_for :patron, url: patrons_path do |f| %>
  <%= f.label :lat %>
  <%= f.text_field :lat, 'value' => @lat %>
  <br>
  <%= f.label :lng %>
  <%= f.text_field :lng, 'value' => @lng %>

  <%= f.submit %>
<% end %>

</div>
</div>
