
<div id ="container">

<div id="geo-mere-laal-wait" style="display:none;" >
<div id="content">
  <!--
	<h3>Loading... <%= image_tag "/images/spinner.gif", :id => "spinner", :alt => "Spinner"%> </h3>
  -->
 </div>
</div>

<!--
<div id="geo-mere-laal-fields" style="display:none;">
-->
Finding your location...
<div id="geo-form" style="display:none;">

<p>Enter you current latitude and longitude</p>

<%= form_for :patron, url: patrons_path do |f| %>
  <%= f.label :lat %>
  <%= f.text_field :lat, 'value' => @lat %>
  <br>
  <%= f.label :lng %>
  <%= f.text_field :lng, 'value' => @lng %>

  <%= f.submit %>
<% end %>

</div>
</div>
<script>
  $(document).ready(function() {
    if(navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(populate_form, show_form)
    } else {
      $("#geo-form").show();
    }
  })
  function show_form() {
    console.log("yo");
    $("#geo-form").show();
  }
  function populate_form(geolocation) {
    $("#patron_lat").val(geolocation.coords.latitude)
    $("#patron_lng").val(geolocation.coords.longitude)
    $("form").submit()
  }
</script>