<h1><%= @title %></h1>

<script type="text/javascript">

  // this check is necessary to see if the page is fully loaded before executing
  // http://stackoverflow.com/questions/5478450/google-map-error-a-is-null
  $(document).ready(function () {

    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){

      markers = handler.addMarkers(<%=raw @hash.to_json %>);

      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(16);
    });
  });
</script>


  <div id ="container">
    <div id ="wrapper">

      <div id="map" style='width: 800px; height: 400px;'></div>

      <%#= gmaps("map_options" => {"container_id" => "map_container",
                "center_latitude" => @patron.lat,
                "center_longitude" => @patron.lng,
                "zoom" => 17,
                },

                "direction" => {
                    "data"    => { "from" => [@patron.lat, @patron.lng].join(', '), "to" => [@target_building.lat, @target_building.lng].join(', ')}, 
                    "options" => { "travelMode" => "WALKING", "unitSystem" => "IMPERIAL", "display_panel" => true, "panel_id" => "directions"}
                }
               )
       %>

<!--
      <p>patron = <%= @patron.lat %>, <%= @patron.lng %></p>
      <p>target building = <%= @target_building.name %>, <%= @target_building.lat %>, <%= @target_building.lng %> </p>
-->

      <div id="directions"></div>

    </div>
  </div>
