<% content_for :head do %>
  <script>
    window.map_hash = <%= raw @hash.to_json %>;
    window.patron_lat = <%= @patron.lat %>;
    window.patron_lng = <%= @patron.lng %>;
    window.target_building_lat = <%= @target_building.lat %>;
    window.target_building_lng = <%= @target_building.lng %>;
  </script>
  <%= javascript_include_tag 'directions' %>  
<% end %>

<h1><%= @title %></h1>

<div id ="container">
  <div id ="wrapper">
    <div id="map" style='width: 800px; height: 400px;'></div>
    <div id="directions"></div>
  </div>
</div>
