<div id="header">
	<%=render :partial => '/beavertracks/top'%>
	<h1>Locations A-Z</h1>
</div>
<div id ="container">
<div id="search_box">
<% form_tag({}, {:id => "search"}) do %>  
<%= image_tag "/images/spinner.gif", :id => "spinner", :class => 'image', :alt => "Spinner", :style => 'display:none;'%>
	   <%= text_field_tag("query", params[:query], :autocomplete => "off", :class=>"fields",
	    :style => "color:#aaa;",
     	:value => "Search",
      	:onfocus => "if(this.getValue()=='Search'){this.clear();this.style.color = '#000';}",
        :onblur => "if(this.getValue()==''){this.setValue('Search');this.style.color = '#aaa';}"
		 ) %>
    <% end %>
    
    <%= observe_field 'query',  :frequency => 1,
								:update => "search_results",	
								:loading => "Element.show('spinner')",
						        :complete => "Element.hide('spinner')",
								:url => {:controller => "buildings", :action => "search"},
								:with => "query" %>
</div>
<div id="search_results">
<% cache  :action => 'index', :part =>'building_list' do %>	
	<div id= 'nav'>
	<ol>
	<% @buildings.each do |building| %>
	    <li><%= link_to h(building.name), building %> </li>
	<% end %>
	</ol>
	</div>
<%end%>
</div>
</div>