<h1><%= @title %></h1>

<% cache  :action => 'show', :part => 'content' do %>

<div id="container">
<div id="detail">

  <span id="image"><%= link_to image_tag(@building.flickr_thumb_url, :class => 'site_photo', :title => @building.name, :border => 0), File.join('/buildings', @building.id.to_s, '/image') %></span>

  <span id="description">

    <%= @building.description %>

  </span>

  <p>Flickr Images (<%= @building.flickr_tag %>): </p>
  <ol>
    <% @photos.each do |photo| %>
    <li>
    <% info = flickr.photos.getInfo(:photo_id => photo.id) %>
    
      <%= photo.title %>
      <%= image_tag(FlickRaw.url_t(info)) %>
    </li>
  <% end %>

  </ol> 

</div>
</div>

<%end%>
