<!DOCTYPE html>
<html>
<head>
  <title><% if @title %> <%= @title %> - <% end %> BeaverTracks</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry" %>
  <%= javascript_include_tag "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%= render :partial => '/beavertracks/head'%>
</head>
<body>

<%= render :partial => '/beavertracks/header' unless @disable_header %>

<% if notice %>
<p class="notice"><%= notice %></p>
<% end %>
<% if alert %>
<p class="alert"><%= alert %></p>
<% end %>


<%= yield %>

<%= yield :scripts %>

<% cache 'footer' do %>
<%= render :partial => '/beavertracks/footer'%>
<% end %>

</body>
</html>
