<!DOCTYPE html>
<html>
<head>
  <title><% if @title %> <%= @title %> - <% end %> BeaverTracks</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%= render :partial => '/beavertracks/head'%>
</head>
<body>

<%= render :partial => '/beavertracks/header' unless @disable_header %>

<% if notice %>
<p class="notice"><%= notice %></p>
<% end %>
<% if alert %>
<p class="alert"><%= alert %></p>
<% end %>


<%= yield %>

<%= yield :scripts %>

<% cache 'footer' do %>
<%= render :partial => '/beavertracks/footer'%>
<% end %>

</body>
</html>
