<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<% cache 'header' do %>
<%=render :partial => '/beavertracks/header'%>
<%end%>
<meta name="viewport" content="width=device-width, user-scalable=yes, height=device-height" />
<meta name="keywords" content= "<%= @meta_keywords %>" />
<meta name="description" content= "<%= @meta_description %>" />
<title><%= @title %> | BeaverTracks</title>
</head>

<body>

<%= yield %>
<% if ENV['RAILS_ENV'] == 'production' %>
<%= percent_mobile_track(81307369870300881895320856178269914580) %>
<% end %>
</body>
</html>

