<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<% cache 'header' do %>
<%=render :partial => '/beavertracks/header'%>
<%end%>
<meta name="viewport" content="width=device-width, user-scalable=no, height=device-height" />
<meta name="keywords" content= "<%= @meta_keywords %>" />
<meta name="description" content= "<%= @meta_description %>" />
<script src="/javascripts/geo.js" type="text/javascript" charset="utf-8"></script>
<title><%= @title %> | Beaver Tracks</title>
</head>
<body>
<%= yield %>
<% cache 'footer' do %>
<%=render :partial => '/beavertracks/footer'%>
<%end%>

</body>
</html>
